.countryList_header{
    background-color: red;

    > .countryList_header_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 10px;

        > h1{
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 30px;
            color: white;
            font-weight: 700;
        }

        > a{
            font-size: 30px;
            text-decoration: none;
            color: white;
        }
    }
}

.countryList_list{
    
    max-width: 1440px;
    margin: 10px auto 0 auto;
    columns: 2;
    padding: 0 20px;
    
    > a{
        display: block;
        font-size: 20px;
        text-decoration: none;
        color: black;
        transition: color 0.3s;

        &:hover{
            color: red;
            transition: color 0.3s;
        }
    }
}